main{
    margin: 0px 160px;
    
}



.bangla{
    display: flex;
    justify-content: space-around;
}
#btn-1{
    background-color: white;
    border: solid;
    border-color: #006A50;
    border-radius: 8px;
    color:#006A50 ;
    padding: 17px 34px;
}
.hedar{
    display: flex;
    background-color: #C6E4D6;
    margin: 120px 160px;
    border-radius: 24px;
    justify-content: space-around;
    align-items: center;
   
}
.hedar-contants{
    padding: 50px;
}
.title{
    font-size: 24px;
    font-weight: 500px;
    color:rgba(14, 14, 14, 0.5);
    
}
.hedar-discription{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 0px;
}
.btn-2{
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600px;

}




/* section_1 style */
.section-title{
    font-size: 40px;
    font-weight: bold;
}
.section-description{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
}
.vision-container{
    display: flex;
    gap: 24px;
    border-radius: 16px;
}
.vision-contant-1{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px;
    
}
.vision-contant-2{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
    padding: 32px;
}

.vision-contant-3{
    background-color: rgba(247, 235, 207, 1);
    border-radius: 16px;
    padding: 32px;
}
.btn-3{
    background-color: #5490F5;
    border-radius: 8px;
    padding: 11px 20px;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    border: none;
}
.btn-4{
    background-color: #006A50;
    border-radius: 8px;
    padding: 11px 20px;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    border: none;
}
.btn-5{
background-color: #FFC239;
    border-radius: 8px;
    padding: 11px 20px;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    border: none;
}

/* section-2 style */

.news-container{
    display: flex;
    background-color:#ffff;
    border-radius: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    gap: 32px;
    padding: 48px;
}
.news-image{
    border-radius: 24px;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10px;
}
.news-dt{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
}
.btn-6{
    background-color: #006A50;
    padding: 13px 26px;
    color: white;
    font-size: 18px;
    font-weight: 600px;
    border: none;
    border-radius: 8px;

}
.news{
    
    gap: 30px;

}

